@using bl = SP_ASPNET_1.BusinessLogic
@using Microsoft.AspNet.Identity

@model IEnumerable<SP_ASPNET_1.Models.PostComment>


<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.Surname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>Actions</th>
    </tr>
    @if (Model == null)
    {
        <tr>no comments on this post</tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Surname)
            </td>
            <td id="@("tdcontent"+item.CommentId)">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @item.DateTime.ToString(bl.Constants.DISPLAY_DATETIME_FORMAT)
            </td>
            <td>

                @{
                    var isAutorized = (User.Identity.IsAuthenticated && (User.Identity.GetUserId() == item.AuthorId));

                    if(isAutorized)
                    {
                    <td> <a href="#" class="waves-effect waves-block edit-comment" data-post-id="@item.PostId" data-comment-id="@item.CommentId">Edit</a></td>
                    <td>
                        <a href="#" class="waves-effect waves-block delete-comment" data-post-id="@item.PostId" data-comment-id="@item.CommentId">Delete</a>
                    </td>
                     }
                   }


            </tr>
        }

</table>

@*<script src="~/Views/PostComment/comment.js"></script>*@